body{
  background-image: linear-gradient(#388eff, #90e2fe);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

h1, h2, h3 ,h4 ,h5 ,h6{
  font-weight: normal;
}

#infoPanel{
  background-color: white;
  border-radius: 5px;
}

.nav_bar{
  height: 100px;
  padding: 15px;
  margin-bottom: 15px;
}

.right{
  float: right;
}

.play-game{
  width: 1000px; border-radius: 10px;
  transition: 0.1s;
}

.play-game:hover{
  width: 1025px; border-radius: 10px;
  transition: 0.1s;
}


button{
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.1s;
}

button:hover{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: translate(0, -5px);
}

button:active{
  background: #2b2b2b;
  color: white;
  transform: translate(0, +2px);
}


@keyframes slide-in-top{
   0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-bottom{
   0% {
    transform: translateY(+100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-left{
   0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-right{
   0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}